{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
        <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="d-flex justify-content-center">
                    <h1>Visión</h1>
                </div>
                <div>
                    <p>Ser la importadora elite en repuestos de segunda y nuevos dando toda las facilidades a nuestros clientes de realizar sus cotizaciones desde nuestra página web y contar con diversas sucursales distribuidas por todo el territorio
                        nacional.</p>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="d-flex justify-content-center">
                    <h1>Misión</h1>
                </div>
                <div>
                    <p>Fredmar panamá es una empresa internacional ofreciendo mercancía para tu vehículo y a su vez dando respuestas oportunas a las necesidades de nuestros clientes ofreciendo los mejores precios del mercado. Es una empresa dedicada
                        a las ventas por mayor y al detal contando con una red amplia para que desde tu hogar puedas ubicarnos y hacer más fácil tú día a día con solo buscarnos.</p>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12 col-lg-12">
                <h1 class="text-center">Como Ubicarnos</h1>
            </div>
            <div class="col-12 col-md-6">
                <div>
                    <div>
                        <p>Horario de Trabajo</p>
                        <p><i class="fa fa-clock-o"></i>&nbsp;07:00 AM - 12:00 PM</p>
                        <p><i class="fa fa-clock-o"></i>&nbsp;02:00 AM - 05:00 PM</p>
                    </div>
                </div>
                <p><i class="fa fa-phone"></i>&nbsp;507-999-888</p>
                <p><i class="fa fa-phone"></i>&nbsp;507-999-888</p>
            </div>
            <div class="col-12 col-md-5">
                <div class="embed-responsive embed-responsive-21by9"><iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2786.3016904420956!2d-79.48765165368536!3d9.024879781908597!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8faca9e8e031310b%3A0x82ad85bf880861a5!2sCalle+19%2C+Panam%C3%A1!5e0!3m2!1ses-419!2sve!4v1525998606568"></iframe></div>
                <p><i class="fa fa-map-marker"></i>&nbsp;DIRECCION:CORG. RIO ABAJO CALLE 19 FINAL DE VIA ESPAÑA</p>
            </div>
        </div>
    </div>
{% endblock %}