{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
        <div class="container ">
        <div class="row myv">
            <div class="col-12 col-md-6">
                <div class="d-flex justify-content-center">
                    <h1>Visión</h1>
                </div>
                <div>
                    {% for item in vision %}
                        <p>{{ item }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="d-flex justify-content-center">
                    <h1>Misión</h1>
                </div>
                <div>
                    {% for item in mision %}
                        <p>{{ item }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12 col-lg-12">
                <h1 class="text-center">Como Ubicarnos</h1>
            </div>
            <div class="col-12 col-md-6">
                <div>
                    <div>
                        <p>Horario de Trabajo</p>
                        {% for horario in horarios %}
                            <p><i class="fa fa-clock-o"></i>&nbsp;{{ horario }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="">
                    <p>Telefonos</p>
                    {% for telefono in telefonos %}
                        <p><i class="fa fa-phone"></i>&nbsp;{{ telefono }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="col-12 col-md-5">
                <div class="embed-responsive embed-responsive-21by9"><iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2786.3016904420956!2d-79.48765165368536!3d9.024879781908597!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8faca9e8e031310b%3A0x82ad85bf880861a5!2sCalle+19%2C+Panam%C3%A1!5e0!3m2!1ses-419!2sve!4v1525998606568"></iframe></div>
                <p><i class="fa fa-map-marker"></i>&nbsp;DIRECCION:CORG. RIO ABAJO CALLE 19 FINAL DE VIA ESPAÑA</p>
            </div>
        </div>
    </div>
{% endblock %}