{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap %}

{% block content %}
    <div class="col-12 col-md-6 justify-content-center">
        <form role="form" method="post">
            <legend>Haz tus preguntas</legend>
            {% csrf_token %}
            {{ form|bootstrap }}
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </form>

    </div>

{% endblock %}



    <div class="contact-clean" style="background-color:rgb(203,206,208);">
    <form method="post">
        <h2 class="text-center">Contactanos</h2>
                {% csrf_token %}
        {{ form|bootstrap }}
        <div class="form-group"><button class="btn btn-primary" type="submit">Enviar</button></div>
    </form>
    </div>
<div class="contact-clean" style="background-color:rgb(203,206,208);">
    <form method="post">
        <h2 class="text-center">Contactanos</h2>
        <div class="form-group"><input type="text" name="nombre" required placeholder="Nombre" autofocus class="form-control" /></div>
        <div class="form-group"><input type="text" name="asunto" required placeholder="Asunto" class="form-control" /></div>
        <div class="form-group"><input type="text" name="correo" required placeholder="Correo" class="form-control" /></div>
        <div class="form-group"><textarea rows="14" name="message" required placeholder="Message" class="form-control"></textarea></div>
        <div class="form-group"><button class="btn btn-primary" type="submit">Enviar</button></div>
    </form>
</div>

