{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap %}
{% block content %}
    {#  carousel de imagenes  #}
    {% include 'carousel.html' %}
    <section>
        <div class="container mt-3">
            <h2 class="text-center titulo">Nuestros Productos</h2>
            <h5 class="text-center subtitulo"><br>Para mayor información o consulta por un modelo especifico&nbsp;<strong>Haz click en Preguntar</strong>.<br><br></h5>
        </div>
    </section>
{#    productos #}
    <section>
        <div class="container">
            {# boton de categorias #}
            <div class="row justify-content-end">
                <div class="col-auto">
                    <div class="dropdown"><button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">Categorias</button>
                        <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item opensans-4" role="presentation" href="{% url 'products:home' %}">Todas</a>
                            {% for category in categories %}
                                <a class="dropdown-item" role="presentation" href="{% url 'products:search_category' category %}">{{ category }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

                {#    tarjeta de producto   #}
                <div class="row">
                    {% for item in object_list %}
                        <div class="col-12 mt-3 col-md-6 col-lg-4">
                            <div class="tarjeta_producto border"><img src="{{ item.image.url }}" class="imagen_producto">
                                <div class="marca_producto pt-1 pb-1">
                                    {% for tag in item.tags.all %}
                                        <span>{{ tag }}</span>
                                    {% endfor %}
                                </div>
                                <div class="justify-content-end d-flex">
                                    <button type="button" class="btn btn-primary mr-1 mb-1 js-preguntar" data-toggle="modal" data-target="#preguntaModal" data-url="{% url 'products:preguntar' %}">Preguntar</button></div>
                                <div class="categorias border-top p-1">
                                    {% for category in item.categories.all %}
                                        <div class="tag d-inline-block roboto-9 f12">
                                            <a href="{% url 'products:search_category' category %}">{{ category }}</a>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
        </div>
    </section>
        <!-- Modal -->
    <div class="modal fade" id="preguntaModal" tabindex="-1" role="dialog" aria-labelledby="preguntaModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="preguntaModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ....
          </div>
        </div>
      </div>
    </div>


{% endblock %}
