:root {
    --first-color:hsl(160, 96%, 45%);
    --second-color:hsl(0, 0%, 75%);
    --third-color:#F0F2F1;
}
/*estilos menu*/


.anuncio {
  background-color:hsl(0, 0%, 75%);
  font-size:20px;
}

.titulo {
  color:#000;
}

.nav-item:hover {
  border-bottom:2px solid;
  border-color:#05E197;
    /*text-decoration: underline;*/
}

.nav-item:hover {
  -webkit-transition:all 0.2s Ease-in 0.2s;
  -moz-transition:all 0.2s Ease-in 0.2s;
  transition:all 0.2s Ease-in 0.2s;
}

.navbar-light .navbar-nav .nav-link {
  /*color:#000;*/
}

.navbar-light .navbar-brand {
  color:#000;
}

.nav-item:hover {
  -webkit-transition:all 0.2s Ease-in 0.2s;
  -moz-transition:all 0.2s Ease-in 0.2s;
  transition:all 0.2s Ease-in 0.2s;
}

.navbar-light .navbar-nav > .nav-link, .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color:#000;
}

.navbar {
  color:#000;
  font-size:20px;
}

.nav-item {
  border-bottom:2px solid white;
}








/* estilos productos*/
.tarjeta_producto .imagen_producto {
width:100%;
}

.marca_producto span {
margin-left:5px;
}

.marca_producto span {
  font-family:'Open Sans';
  font-size:20px;
}

.categorias a {
  font-family:'Roboto';
  color:var(--second-color);
  font-weight:900;
}

.categorias {
  background-color:var(--third-color);
}

.subtitulo {
  font-family:'Roboto';
  color:var(--second-color);
}

/*estilos para contactanos*/

.h1, h1 {
  font-family:'Open Sans';
}

p {
  font-family:'Roboto';
  font-size:20px;
}
.myv{
background-color: #4188D4;
  color: white;
}
.myv p{
  color: #9AC9FA;
}
/*estilos botones*/

.btn-primary {
  color: #fff;
  background-color: var(--first-color);
  border-color: var(--first-color);
}
.btn-primary:hover {
  color: #fff;
  background-color: hsl(160, 96%, 40%);
  border-color: hsl(160, 96%, 40%);
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem hsla(160, 96%, 45%, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: hsla(160, 96%, 45%, 1);
  border-color: hsla(160, 96%, 45%, 1);
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: hsla(160, 96%, 45%, 1);
  border-color: hsla(160, 96%, 45%, 1);
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem hsla(160, 96%, 45%, .5);
}

/*quienes somos*/

.about{
    background-image: url("../img/conference-room.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.texto{
    background-color: hsla(0, 0%, 10%, 0.9);
}

.texto h1{
    color: white;
}

.verde{
    color: hsla(160, 96%, 25%, 1);
}
